.alert-win {
    background-color: #2ecc71;
    border-color: #2ecc71;
    color: #155724;
}
.alert-warn {
    background-color: #e67e22;
    border-color: #e67e22;
    color: #6b3c12;
}
.alert-dangerous {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #5f241e;
}
